<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
    
  
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <!-- Jumbotron -->
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">
  
        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUV_oUkzogd_NH4_-4z9wpI2njslpyWpR85A&usqp=CAU" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">
  
        <!-- Excerpt -->
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><mdb-icon fas icon="desktop" class="pr-1"></mdb-icon>WELCOME TO TEK DESK</h6>
          
        </a>
  
        <h4 class="h4 mb-4"></h4>
  
        <p class="font-weight-normal">Technical Help Desk</p>
        <p class="font-weight-normal">by <a><strong>TekDesk</strong></a>15/02/2021</p>
  
        <a mdbBtn routerLink="/login" class="nav-link" routerLinkActive="active" color="success" mdbWavesEffect>Login</a>
        <a mdbBtn routerLink="/postSolution" class="nav-link" routerLinkActive="active" color="red" mdbWavesEffect>Post Solutions here!!</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </div>
  <!-- News jumbotron -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">



      <hr class="clearfix w-100 d-md-none pb-3">

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> TekDesk</a>
  </div>
  <!-- Copyright -->

</footer>

